<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RiskReal</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .welcome-message {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 9999;
            color: #2eadd7;
        }

        .section-padding {
            padding: 30px 0;
        }

        .content {
            flex: 1 0 auto;
        }

        footer {
            margin-top: auto;
            background-color: #343a40;
            color: #ffffff;
            padding: 20px 0;
            text-align: center;
            width: 100%;
        }
        .header-custom {
            padding-top: 60px;
            padding-bottom: 5px;
        }
    </style>
</head>

<body id="page-top">
    <div class="welcome-message">
        {% if 'nombre' in session %}
        <p>Bienvenido, {{ session['nombre'] }}</p>
        {% endif %}
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container px-4">
            <a class="navbar-brand" href="#page-top">RiskReal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#inscribirse">Inscribirse</a></li>
                    <li class="nav-item"><a class="nav-link" href="#examinarse">Examinarse</a></li>
                    {% if 'nombre' in session and session['admin'] == True %}
                    <li class="nav-item"><a class="nav-link" href="#administracion">Administración</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div class="content">
        <!-- Header -->
        <header class="bg-primary bg-gradient text-white header-custom">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Bienvenido a Risk Real</h1>
                <p class="lead">Comprueba tus conocimientos respecto a la seguridad</p>
            </div>
        </header>

        <!-- Inscribirse Section -->
        <section id="inscribirse" class="section-padding bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <h2 class="mt-xxl-5">Inscribirse</h2>
                        {% if 'nombre' in session %}
                        <a href="{{ url_for('logout') }}" class="btn btn-danger btn-lg mt-xxl-3">Cerrar sesión</a>
                        {% else %}
                        <a href="{{ url_for('login') }}" class="btn btn-success btn-lg mr-2 mt-xxl-3">Iniciar sesión</a>
                        <a href="{{ url_for('registro') }}" class="btn btn-info btn-lg mt-xxl-3">Registro</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

        <!-- Examinarse Section -->
        <section id="examinarse" class="section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <h2>Examinarse</h2>
                        <div class="btn-group mt-xxl-3">
                            <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Test
                            </button>
                            <div class="dropdown-menu">
                                {% for file in tests %}
                                <a class="dropdown-item" href="{{ url_for('esta_logeado', test='True', file=file) }}">{{
                                    file[:-5] }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="btn-group mt-xxl-3">
                            <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Cuestionario
                            </button>
                            <div class="dropdown-menu">
                                {% for file in cuestionarios %}
                                <a class="dropdown-item"
                                    href="{{ url_for('esta_logeado', test='False', file=file) }}">{{ file[:-5] }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Administración Section -->
        {% if 'nombre' in session and session['admin'] == True %}
        <section id="administracion" class="section-padding bg-light" style="margin-bottom: 70px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <h2>Administración</h2>
                        <a href="{{ url_for('mostrar_usuarios') }}" class="btn btn-success btn-lg mt-xxl-3">Usuarios</a>
                        <a href="{{ url_for('mostrar_resultados') }}"
                            class="btn btn-info btn-lg mt-xxl-3">Resultados</a>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container px-4">
            <p class="m-0 text-center text-white">Copyright &copy; RiskReal 2024</p>
        </div>
    </footer>

    <!-- Bootstrap core JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Core theme JS -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>