<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RiskReal</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .welcome-message {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 9999; /* Asegura que el mensaje esté encima de otros elementos */
        }
    </style>
</head>
<body>

    <!-- Contenedor para los botones de enlace -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center mb-4">
                    <h1>Bienvenido a Risk Real</h1>
                </div>

                <!-- Botones de enlace a otras páginas -->
                <div class="text-center">
                    <a href="{{ url_for('esta_logeado', test='True') }}" class="btn btn-primary btn-lg mr-2">Test</a>
                    <a href="{{ url_for('esta_logeado', test='False') }}" class="btn btn-primary btn-lg mr-2">Cuestionario</a>
                    {% if 'nombre' in session %}
                        {% if session['admin'] == True %}
                            <a href="{{ url_for('mostrar_usuarios') }}" class="btn btn-success btn-lg mr-2">Usuarios</a>
                            <a href="{{ url_for('mostrar_resultados') }}" class="btn btn-info btn-lg">Resultados</a>
                        {% endif %}
                        {% if session['camb_cont'] == True %}
                            <a href="{{ url_for('cambiar_contraseña') }}" class="btn btn-info btn-lg">Cambiar Contraseña</a>
                        {% endif %}
                        <a href="{{ url_for('logout') }}" class="btn btn-danger btn-lg">Cerrar sesión</a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="btn btn-success btn-lg mr-2">Iniciar sesión</a>
                        <a href="{{ url_for('registro') }}" class="btn btn-info btn-lg">Registro</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="welcome-message">
        {% if 'nombre' in session %}
            <p>Bienvenido, {{ session['nombre'] }}</p>
        {% endif %}
    </div>
    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
